---
import Logo from './Logo.astro';
---
<header class="border-b border-white/20 py-4">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <img class="rounded-full" src="/logo.webp" width="48" height="48" alt="">
    <div class="text-right uppercase tracking-wider">
      
      <span class="text-sm"><a href="/imagenes">Cosa 1</a></span>
      <span class="text-sm">Cosa 2</span>
      <span class="text-sm">Cosa 3</span>
      <span class="text-sm">Cosa 4</span>
    </div>
  </div>
</header>