---
import Image from 'astro/components/Image.astro';

interface Props {
  size?: 'sm' | 'md' | 'lg';
}

const { size = 'md' } = Astro.props;

const sizeClasses = {
  sm: 'p-2 text-sm',
  md: 'p-4 text-lg',
  lg: 'p-6 text-xl'
};
---
<div class={`rounded-full inline-block ${sizeClasses[size]}`}>
  <img class="rounded-full w-96 max-h-10" src="/logo.jpg" alt="">
</div>